/*
CSS = Hoja de estilo en cascada. si aplicamos en estilo al mismo selector lo de abajo pesa mas de lo de arriba.

Css --> Carpeta Css -> File siempre style.css
HTML -> Siempre index.html -> Otros html en una carpeta HTML






--- Para la queja
* Objetivos a lograr del ppw
* Criterios de relacion y orden
* Css --> Carpeta Css -> File siempre style.css / index  --> Siempre utilizado estilos.css y home.html ERROR para errorer en * servidores -> Los servidores solo son capaces de leer un archivo de inicio index.html, si es otro NO vale
* Error del * con estilos --> NUNCA! SOLO USAR EL BORDER BOX y explicacion del por qué!
* Metodologia EMMET --> NUNCA EXPLICADO - NI UTILIZADO --> Para facilitar mucho el trabajo
* Especificidad de etiquetas mal explicado (no sabemos calcularlo)
* https://jonassebastianohlsson.com/specificity-graph/  --> Pagina web trabajo final muy mal hecho como especificidad --> Curvas especificidad MUY alta
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 
* 

*/
 /*MALA PRACTICA PORQUE LE QUITAS ESTILOS PARA PONERLO DESPUES*/
* {
    box-sizing: border-box;
}

.container > *{
    width: 200px;
    height: 200px;
    padding: 25px;
    border: 10px solid purple;
    background-color: red;

}

.box-small{
    width: 100px;
    height: 100px;

}




/* BOX MODEL --> base del css. cuando tenemos un elemento y le aplicamos medidas estas medidas se aplican a la caja*/